@model List<NPSLCore.Models.DB.Dashboard>
@{
    ViewData["Title"] = "DashBoard";
}
<html lang="en">
<head>
    <title> Dashboard</title>
    <link href="~/css/DashBoardCards.css" rel="stylesheet" />
    <script src="~/Scripts/js/dashBoard.js"></script>
</head>
<body>
    <div id="partial">
        @Html.Partial("~/Views/MainMenu/_DashBoard.cshtml", @Model);
    </div>
</body>
</html>

