
@{
    ViewData["Title"] = "Index";
}

<html lang="en">
<head>
    <title> Dashboard</title>
    <link href="~/css/Dashboard.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="tile job">
            <div class="header">
                <div class="count">1</div>
                <div class="title">Jobs</div>
            </div>
            <div class="body">
                <div class="title">Awaiting Reallocation</div>
            </div>
        </div>
        <div class="tile job">
            <div class="header">
                <div class="count">4</div>
                <div class="title">Jobs</div>
            </div>
            <div class="body">
                <div class="title">Awaiting Scope of Works</div>
            </div>
        </div>
        <div class="tile wide resource">
            <div class="header">
                <div class="left">
                    <div class="count">2</div>
                    <div class="title">Resources</div>
                </div>
                <div class="right">
                    <div class="count">34</div>
                    <div class="title">Jobs Affected</div>
                </div>
            </div>
            <div class="body">
                <div class="title">Resource Availability</div>
            </div>
        </div>
        <div class="tile wide quote">
            <div class="header">
                <div class="left">
                    <div class="count">2</div>
                    <div class="title">Quotes</div>
                </div>
                <div class="right">
                    <div class="count">£2,450</div>
                    <div class="title">Total Value</div>
                </div>
            </div>
            <div class="body">
                <div class="title">Quotes Awaiting Approval</div>
            </div>
        </div>
        <div class="tile wide invoice">
            <div class="header">
                <div class="left">
                    <div class="count">6</div>
                    <div class="title">Invoices</div>
                </div>
                <div class="right">
                    <div class="count">£4,876</div>
                    <div class="title">Total Value</div>
                </div>
            </div>
            <div class="body">
                <div class="title">Invoices Awaiting Approval</div>
            </div>
        </div>
    </div>
</body>
</html>

