@using NPSLWeb.Models;
@model ViewModelNonReconsile

@{
    ViewData["Title"] = "Reconsile Report";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/CustomUtils.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/js/manualReconsile.js"></script>
</head>
<body>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-offset-0 col-xs-2">
                            <label>Template Group: </label>
                            <select id="ddlGroupTemplate" class="form-control">
                                <option value="0">All Template Group</option>
                                @foreach (var templateGroupList in @Model.TemplateGroup)
            {
                    <option value=@templateGroupList.TemplateGroupId>@templateGroupList.TemplateGroupName</option>
}
                            </select>

                        </div>

                        <div class="col-xs-offset-1 col-xs-2" style="width:200px;margin-left: 1px;">
                            <label for="startDate">Start Date:</label>
                            <div class="input-group date" id='datetimepickerFromDate'>
                                <input type="text" class="form-control">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-offset-1 col-xs-2" style="width:200px;margin-left: 1px;">
                            <label for="endDate">End Date:</label>
                            <div class="input-group date" id='datetimepickerToDate'>
                                <input type="text" class="form-control">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-offset-1 col-xs-2" style="margin-left: 1px;">
                            <label for="reason">Reason for Manual Reconsile:</label>
                                <textarea id="reasonTxt" cols="40" rows="3"></textarea>
                        </div>
                        <div class="col-xs-offset-1 col-xs-2">
                            <button type="button" onclick="onNonReconsileSearchClick()" class="btn btn-primary" style="width:300px">Search</button>
                        </div>
                        <div class="col-xs-offset-1 col-xs-2">
                            <button type="button" id="manualProcessbtn" onclick="onManualReconsile()" class="btn btn-info " style="width:300px; margin-top: 8px">Reconsile</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="_ReconsileReportpartial">
                        @Html.Partial("~/Views/ManualReconsile/_ManualReconsile.cshtml", @Model);
                    </div>
                </div>

                <div class="panel-footer"></div>

            </div>

        </div>
    </div>

</body>


</html>


