<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ReconsileConnection"
    connectionString="Data Source=RAMRAJ;Initial Catalog=NPSL;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="DatabaseName" value="NPSL"/>
    <add key="TableName" value="Reconsile_Template"/>
  </appSettings>
</configuration>