@using NPSLWeb.Models;
@model ViewModel

@{
    ViewData["Title"] = "Reconsile Report";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/reconsileReportBundle.js"></script>
    <link href="~/css/Loader.css" rel="stylesheet" />

</head>
<body>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-offset-0 col-xs-2">
                            <label>Template Group: </label>
                            <select id="ddlGroupTemplate" class="form-control">
                                <option value="">--Select One-- </option>
                                @foreach (var templateGroupList in @Model.TemplateGroup)
                                {
                                    <option value=@templateGroupList.TemplateGroupId>@templateGroupList.TemplateGroupName</option>
                                }
                            </select>
                            <label>Reconsile Template: </label>
                            <select id="ddltemplate" class="form-control">
                                <option value="">-- select one -- </option>
                            </select>
                        </div>

                        <div class="col-xs-offset-1 col-xs-2" style="width:200px;margin-left: 1px;">
                            <label for="startDate">Start Date</label>
                            <div class="input-group date" id='datetimepickerFromDate'>
                                <input type="text" class="form-control">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-offset-1 col-xs-2" style="width:200px;margin-left: 1px;">
                            <label for="endDate">End Date</label>
                            <div class="input-group date" id='datetimepickerToDate'>
                                <input type="text" class="form-control">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-offset-0 col-xs-2">
                            <label>Reconsile Type: </label>
                            <select id="ddlReconsileType" class="form-control">
                                <option value="0">Auto Reconsiled</option>
                                <option value="1">Manual Reconsiled</option>
                                <option value="2">All Reconsiled</option>
                            </select>

                        </div>
                        <div class="col-xs-offset-1 col-xs-2">
                            <button id="reconsileSearchbtn" type="button" onclick="onSearchClick()" class="btn btn-primary" style="width:300px">Search</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div id="_ReconsileReportpartial">
                        @Html.Partial("~/Views/ReconsileReport/_ReconsileReport.cshtml", @Model)
                    </div>
                </div>

                <div class="panel-footer"></div>

            </div>

        </div>
    </div>

</body>


</html>


