@{
    ViewData["Title"] = "Reconsile Report";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<script src="~/js/CustomUtils.js"></script>*@
    @*<link href="~/lib/bootstrap/dist/css/customStyle.css" rel="stylesheet" />*@

</head>
<body>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Reconsile Report</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-offset-0 col-xs-5">
                            <label>Template Group: </label>
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        One of three columns
                    </div>
                    <div class="col-sm">
                        One of three columns
                    </div>
                    <div class="col-sm">
                        One of three columns
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
