/*body {
    margin-top: 20px;
    background: #FAFAFA;
}*/

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}
.bg-c-orange {
    background: linear-gradient(to bottom right, #ef7f00, #f7b200);
}
.bg-c-invoice {
    background: linear-gradient(to bottom right, #0aa361, #1adc88);
}



.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .card .card-block {
        padding: 25px;
    }

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.card-header {
    padding-bottom: 4px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eee;
}

