@model NPSLCore.Models.DB.FileExtension
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link href="~/lib/bootstrap/dist/css/customStyle.css" rel="stylesheet" />
<script src="~/js/CustomUtils.js"></script>

<div class="modal-dialog" id="ModalPopUp">

    <div class="modal-content">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "fileExtensionAdd" }))

        {
            <h2 style="margin:15px">@ViewBag.Message</h2>
            <p style="margin:15px">Please fill in this form to create a File Extension!</p>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-5">
                        @Html.TextBoxFor(model => model.FileextensionName, new { @class = "form-control", placeholder = "File Extension Name", required = "required" })
                        @Html.ValidationMessageFor(model => model.FileextensionName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding:5px">
                <div class="form-group">
                    <div class="col-xs-offset-right-1">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" id="confirmok1" value="Save changes" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

